* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.nav-bar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: #181818; }
  .nav-bar ul {
    display: flex;
    list-style: none; }
  .nav-bar li {
    display: flex; }
  .nav-bar a {
    text-decoration: none;
    color: #ef4444;
    padding: 14px 16px; }
  .nav-bar img {
    width: 60px;
    height: auto;
    margin-left: 20px; }

.contenedor-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.25rem;
  background-color: #f7f7f7; }
  .contenedor-flex .div-img8 {
    flex-basis: 40%;
    padding: 20px;
    background-color: #f7f7f7; }
  .contenedor-flex img {
    max-width: 100%;
    max-height: auto;
    display: block; }
  .contenedor-flex .detalles-circuitos {
    flex-basis: 60%;
    padding: 20px;
    text-align: left;
    background-color: #f7f7f7;
    border-radius: 5px;
    border: 1px solid #ccc; }
  .contenedor-flex .p {
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #181818 0, 0, 0, 0.3;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f7f7f7; }
