@media (max-width:375px){
    .col-md-5{
    padding-left: 49px;
    }
    
    .footer{
    width: 375px;
    }
    .mi-formulario {
    width: 375px;
    height: 425px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-color: #2524243d;
    padding-bottom: 20px;
    border: 1px solid #333;
    }


}